<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/head') %>
</head>
<body>
<div class="o-layout">
    <%- include('_partials/header') %>
    <%- include('_partials/navigation') %>

    <main class="o-layout__main c-page-main" role="main">
        <article>
            <%- body %>

            <%- include('_partials/contact') %>
        </article>
    </main>

    <%- include('_partials/footer') %>
</div>
</body>
</html>
