<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/head') %>
</head>
<body>
<div class="o-layout">
    <%- include('_partials/header') %>
    <%- include('_partials/navigation') %>

    <main class="o-layout__main c-page-main" role="main">
        <article>
            <div class="o-wrapper-content c-page-intro">
                <h1 class="c-page-intro__title"><%= page.page_title %></h1>
                <p class="c-page-intro__excerpt"><%= page.excerpt %></p>
            </div>

            <%- include('./_components/featured', {
                title: page.featured_title,
                image: page.featured
            }) %>

            <div class="o-wrapper-content u-mb-huge"><%- body %></div>

            <%- include('_partials/contact') %>
        </article>
    </main>

    <%- include('_partials/footer') %>
</div>
</body>
</html>
