---
title: Frontmen
keywords:
- frontmen
- front-men
- frontend
- foobar
---

<div class="c-masthead">
    <div class="o-wrapper-content">
        <h1 class="c-masthead__title">
            Boost your business with cutting-edge app technology
            <span class="c-masthead__title-sub">Frontend experts</span>
        </h1>
    </div>
    <% var projects = ['quby', 'rabobank','frontmania', 'frontmen', 'tele2']; %>
    <div class="o-wrapper c-masthead__badges">
        <% projects.forEach(function(project){ %>
            <%if (project === "frontmania") { %>
                <img alt="frontmania logo" class="c-badge c-badge--frontmania" src="<%= site.baseURL %>/img/badges-project/frontmania.png" />
            <% }%>
            <%if (project !== "frontmania") { %>
              <%- include('_components/badge', { type: "project", name: project }) %>
            <% }%>

        <% }); %>
    </div>
</div>

<div class="o-wrapper">

    <article class="c-news">
        <a class="c-news__link" href="https://www.frontmania.com/" target="_blank" rel="noopener">
            <div class="c-news__image">
                <%- include('./_components/image', {
                  title: "Come visit our first big conference celebrating everything front-end",
                  image: "frontmania-block.jpg"
                }) %>
            </div>
            <p class="c-news__title u-hidden-visually">
                Welcome to Front Mania.<br />
                Come visit our first big conference celebrating everything front-end
            </p>
        </a>
    </article>

    <article class="c-news">
        <a class="c-news__link" href="<%= site.baseURL %>/work/tele2">
            <div class="c-news__image">
                <%- include('./_components/image', {
                  title: "How we got Tele2 to use scrum and developed an innovative app using an AI-chatbot",
                  image: "tele2-block.jpg"
                }) %>
            </div>
            <p class="c-news__title">
                How we got Tele2 to use scrum and developed an innovative app using an AI-chatbot
            </p>
        </a>
    </article>

    <article class="c-news">
        <a class="c-news__link" href="<%= site.baseURL %>/work/quby">
            <div class="c-news__image">
                <%- include('./_components/image', {
                  title: "How we helped Toon travel across the border and added an important new feature.",
                  image: "toon-block.jpg"
                }) %>
            </div>
            <p class="c-news__title">
                How we helped Toon travel across the border and added an important new feature.
            </p>
        </a>
    </article>
</div>
