<nav>
    <ul>
        <li><a href="<%= site.baseURL %>/">Home</a></li>
        <li><a href="<%= site.baseURL %>/work">Work</a></li>
        <li><a href="<%= site.baseURL %>/about">About us</a></li>
        <li><a href="<%= site.baseURL %>/knowledge">Knowledge</a></li>
        <li><a href="<%= site.baseURL %>/contact">Contact</a></li>
    </ul>
</nav>
