<nav class="c-page-navigation o-layout__navigation">
    <button class="c-btn c-btn--icon c-page-navigation__close js-menu-toggle">
        <span class="c-ico c-ico--40 c-ico--menu-close"></span>
        <span class="u-hidden-visually">Close menu</span>
    </button>


    <ul class="c-page-navigation__list">
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/">Home</a>
        </li>
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/work">Work</a>

            <ul class="c-page-navigation__list">
                <li class="c-page-navigation__list-item">
                    <a class="c-page-navigation__link" href="<%= site.baseURL %>/work/klm">KLM</a>
                </li>
                <li class="c-page-navigation__list-item">
                    <a class="c-page-navigation__link" href="<%= site.baseURL %>/work/toon">Toon</a>
                </li>
                <li class="c-page-navigation__list-item">
                    <a class="c-page-navigation__link" href="<%= site.baseURL %>/work/tele2">TELE2</a>
                </li>
            </ul>
        </li>
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/about">About us</a>
        </li>
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/knowledge">Knowledge</a>
        </li>
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/contact">Contact</a>
        </li>
    </ul>

    <img class="c-page-navigation__logo" src="<%= site.baseURL %>/img/fm-logo-menu.svg" alt="Frontmen">
</nav>
