<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
<div class="o-layout">
    <%- include('partials/header') %>
    <%- include('partials/navigation') %>

    <main class="o-layout__main c-page-main" role="main">
        <%- body %>
    </main>

    <%- include('partials/footer') %>
</div>
</body>
</html>
