<footer role="contentinfo" class="c-page-footer o-layout__footer" style="color: #fff;">
    <section class="c-page-footer__logo u-mb-huge">
        <a href="<%= site.baseURL %>">
            <img src="<%= site.baseURL %>/img/fm-monogram-logo.svg" alt="Frontmen">
        </a>
    </section>
    <div class="o-wrapper c-page-footer__content" >
        <nav class="c-page-footer__content-item">
            <h3 class="c-page-footer__title">Our website</h3>
            <ul class="o-list-bare c-page-footer__list">
                <li class="o-list-bare__item">
                    <a href="<%= site.baseURL %>/">Home</a>
                </li>
                <li class="o-list-bare__item">
                    <a href="<%= site.baseURL %>/frontend-first">Frontend first</a>
                </li>
                <li class="o-list-bare__item">
                    <a href="<%= site.baseURL %>/how-we-work">How we work</a>
                </li>
                <li class="o-list-bare__item">
                    Work
                </li>
                <li class="o-list-bare__item--secondary-bullet">
                    <a href="<%= site.baseURL %>/work/quby">Quby</a>
                </li>
                <li class="o-list-bare__item--secondary-bullet">
                    <a href="<%= site.baseURL %>/work/tele2">Tele2</a>
                </li>
                <!-- <li class="o-list-bare__item--secondary-bullet">
                    <a href="<%= site.baseURL %>/">KLM</a>
                </li> -->
                <li class="o-list-bare__item">
                    <a href="<%= site.baseURL %>/">About us</a>
                </li>
                <li class="o-list-bare__item">
                    <a href="<%= site.baseURL %>/">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="c-page-footer__content-item">
            <div class="contact">
                <h3 class="c-page-footer__title">Frontmen</h3>
                <div class="u-mb-normal">
                    <a href="tel:+31302658108">
                        <span>T</span> +31 (0)30 - 26 58 108</a>
                    <br/>
                    <a href="mailto:info@frontmen.nl">
                        <span>E</span> info@frontmen.nl</a>
                </div>
            </div>
            <div class="c-social">
                <div class="o-media c-social__link">
                    <div class="o-media__badge">
                        <%- include('../_components/badge', { type: "social", name: "medium", size: 64}) %>
                    </div>
                    <div class="o-media__content">
                        <p>We write at</p>
                        <a href="https://www.medium.com/frontmen" target="_blank"><strong>Medium</strong></a>
                    </div>
                </div>
                <div class="o-media c-social__link">
                    <div class="o-media__badge">
                        <%- include('../_components/badge', { type: "social", name: "meetup", size: 64}) %>
                    </div>
                    <div class="o-media__content">
                        <p>We meet at</p>
                        <a href="https://www.meetup.com/FrontMania/" target="_blank"><strong>MeetUp</strong></a>
                    </div>
                </div>
                <div class="o-media c-social__link">
                    <div class="o-media__badge">
                        <%- include('../_components/badge', { type: "social", name: "linkedin", size: 64}) %>
                    </div>
                    <div class="o-media__content">
                        <p>We work at</p>
                        <a href="https://www.linkedin.com/company/frontmen---expert-frontend-coding/" target="_blank"><strong>LinkedIn</strong></a>
                    </div>
                </div>
                <div class="o-media c-social__link">
                    <div class="o-media__badge">
                        <%- include('../_components/badge', { type: "social", name: "twitter", size: 64}) %>
                    </div>
                    <div class="o-media__content">
                        <p>We converse at</p>
                        <a href="https://twitter.com/frontmenhq" target="_blank"><strong>Twitter</strong></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="c-page-foot">
        <ul class="o-list-inline c-nav-secondary">
            <li class="o-list-inline__item c-nav-secondary__item">
                <a href="<%= site.baseURL %>" class="c-nav-secondary__link">© Frontmen</a>
            </li>
            |
            <li class="o-list-inline__item c-nav-secondary__item">
                <a href="<%= site.baseURL %>/privacy" class="c-nav-secondary__link--accent">View privacy note</a>
            </li>
        </ul>
    </div>
</footer>

<script src="<%= site.baseURL %>/js/index.js"></script>
