<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta
  name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
/>

<title><%= page.title ? `${page.title} | ${site.title}` : site.title %></title>

<% var description = page.description || site.description; var keywords = [...new Set([
...site.keywords || [] , ...page.keywords || [] , // For Work pages add the technologies/tags
...page.technologies || [], ...page.tags || [] ])]; var image = page.image ?
`${site.baseURL}${page.url}/${page.image}` : `${site.baseURL}${site.image}`; %>

<meta name="description" content="<%= description %>" />
<meta name="keywords" content="<%= keywords.join(",") %>">

<meta property="og:type" content="website" />
<meta property="og:title" content="<%= page.title || site.title %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:url" content="<%= site.baseURL %><%= page.url %>" />
<meta property="og:site_name" content="<%= site.title %>" />
<meta property="og:image" content="<%= image %>" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<meta name="theme-color" content="#1f1e32" />

<link rel="canonical" href="<%= site.baseURL %><%= page.url %>" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134700059-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-134700059-1', { anonymize_ip: true });
</script>

<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet" />
<link rel="stylesheet" href="<%= site.baseURL %>/css/main.css?<%= new Date().valueOf() %>" />
<!-- %%version%% -->
