<nav class="c-page-navigation o-layout__navigation">
    <ul class="c-page-navigation__list">
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/">Home</a>
        </li>
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/frontend-first">Frontend first</a>
        </li>
        <li class="c-page-navigation__list-item">
                <a class="c-page-navigation__link" href="<%= site.baseURL %>/how-we-work">How we work</a>
        </li>
        <li class="c-page-navigation__list-item">
            <span class="c-page-navigation__link">Work</span>

            <ul class="c-page-navigation__list">
                <li class="c-page-navigation__list-item">
                    <a class="c-page-navigation__link" href="<%= site.baseURL %>/work/klm">KLM</a>
                </li>
                <li class="c-page-navigation__list-item">
                    <a class="c-page-navigation__link" href="<%= site.baseURL %>/work/toon">Toon</a>
                </li>
                <li class="c-page-navigation__list-item">
                    <a class="c-page-navigation__link" href="<%= site.baseURL %>/work/tele2">TELE2</a>
                </li>
            </ul>
        </li>
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/about">About us</a>
        </li>
        <li class="c-page-navigation__list-item">
            <a class="c-page-navigation__link" href="<%= site.baseURL %>/contact">Contact</a>
        </li>
    </ul>

    <img class="c-page-navigation__logo" src="<%= site.baseURL %>/img/fm-logo-menu.svg" alt="Frontmen">
</nav>