<div class="c-badge c-badge--<%= type %> c-badge--<%= name %> <%= typeof size !== 'undefined' ? "c-badge--" + size : ""%>">
    <img class="c-badge__logo" src="<%= site.baseURL %>/img/badges-<%= type %>/<%= name %>.svg" />
    <span class="c-badge__name <%= type === "project" ? "u-hidden-visually" : ""%>">
        <%= name.replace(/-/g, " ") %>
    </span>
</div>
